<nav class="navbar navbar-expand-lg navbar-dark bg-dark mdg-nav">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/" style="margin-top: 2px; margin-bottom: 3px">
      <img src="{{ site.baseurl }}/assets/images/markdown-mark-white.svg" height="23" width="47"
        class="d-inline-block align-top" alt="Markdown Guide" style="margin-top: 4px; padding-right: 10px">
      Hướng Dẫn Markdown
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-top: 2px">
      <div class="navbar-nav">
        <a class="nav-item nav-link {% if page.title == 'Getting Started' %}active{% endif %}"
          href="{{ site.baseurl }}/getting-started/">Bắt Đầu</a>
        <a class="nav-item nav-link {% if page.title == 'Markdown Cheat Sheet' %}active{% endif %}"
          href="{{ site.baseurl }}/cheat-sheet/">Bảng Tra Cứu</a>
        <a class="nav-item nav-link {% if page.title == 'Basic Syntax' %}active{% endif %}"
          href="{{ site.baseurl }}/basic-syntax/">Cú Pháp Cơ Bản</a>
        <a class="nav-item nav-link {% if page.title == 'Extended Syntax' %}active{% endif %}"
          href="{{ site.baseurl }}/extended-syntax/">Cú Pháp Mở Rộng</a>
        <a class="nav-item nav-link {% if page.title == 'Hacks' %}active{% endif %}"
          href="{{ site.baseurl }}/hacks/">Thủ Thuật</a>
        <a class="nav-item nav-link {% if page.url contains 'tools' %}active{% endif %}"
          href="{{ site.baseurl }}/tools/">Công Cụ</a>
        <!-- <a class="nav-item nav-link {% if page.title == 'The Markdown Guide Book' %}active{% endif %}" href="{{ site.baseurl }}/book/">Sách</a> -->
      </div>
      <div class="ml-auto mt-3 mt-lg-0">
        <div id="docsearch"></div>
      </div>
    </div>
  </div>
</nav>